<a href="https://colab.research.google.com/github/oObelix/PHP-2/blob/master/Copy_of_%D0%A3%D1%80%D0%BE%D0%BA_2_%D0%9F%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D0%BA%D0%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Основы визуализации данных с помощью matplotlib

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

## Урок 2. Знакомство с matplotlib.pyplot

### Практика

#### Задание 1

Загрузите файл `wage_data.csv` в DataFrame. Постройте линейный график изменения минимальной зарплаты (признак Salary), усредненной по всем штатам

In [ ]:
!ls sample_data

anscombe.json		      mnist_test.csv	     wage-data.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md

In [ ]:
df = pd.read_csv('sample_data/wage-data.csv')
df

      Year          State    Salary
0     1968        Alabama   0.00000
1     1968         Alaska   2.10000
2     1968        Arizona   0.66000
3     1968       Arkansas   0.15625
4     1968     California   1.65000
...    ...            ...       ...
2745  2017       Virginia   7.25000
2746  2017     Washington  11.00000
2747  2017  West Virginia   8.75000
2748  2017      Wisconsin   7.25000
2749  2017        Wyoming   5.15000

[2750 rows x 3 columns]